<section class="columns">
    <div class="banner column">
        <div class="heading tm">
            Scammer <br> List
        </div>
        <p class="text">
            Scammer List a service which filters spam profiles, websites, and analyzes message for spamming content using it's database of spam content and machine learning.
            <br><br>
            <span>Developed as a project of E-Raksha, with ❤️ in India</span>
        </p>
    </div>
    <div class="graphics column">
        <img src="../../assets/map.svg">
    </div>
</section>

<main class="columns is-two-thirds-tablet">
    <div class="form column">
        <form [formGroup]="form" (ngSubmit)="fetchResult()">
            <input formControlName="name" class="input is-medium" type="text" placeholder="Name" required>
            <textarea formControlName="message" class="textarea" placeholder="message" required></textarea>
            <br>
            <button type="submit" class="button is-dark is-medium">Submit</button>
        </form>
    </div>
    <div class="result ubuntu column">
        <strong>> Fill in the form to see the output here</strong>
        <br>
        <strong id="loading">> </strong>
    </div>
</main>