<section>
    <div class="banner">
        <div class="heading tm">
            Scammer <br> List
        </div>
        <p class="text">
            Scammer List a service which filters spam profiles, websites, and analyzes message for spamming content using it's database of spam content and machine learning.
            <br><br>
            <span>Developed as a project of E-Raksha, with ❤️ in India</span>
        </p>
    </div>

    <div class="graphics">
        <img src="../../assets/map.svg" alt="">
    </div>
</section>